main {
  min-height: 80vh;
  margin-top: 50px;
}
#card-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  height: 100%;
  width: 10%;
  background-color: aqua;
}
