main {
  min-height: 80vh;
  margin-top: 50px;
}
#card-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  height: 100%;
  width: 10%;
  background-color: aqua;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: space-between;
}
.carousel-caption {
  position: absolute;
  top: 0;
  text-decoration: none;
}

.carousel-caption h2 {
  color: #fff;
  text-align: center;
}

#carousel-image {
  height: 300px;
  padding: 30px;
  margin: 40px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
  text-decoration: none;
  color: white;
}
